<footer>
	<div class="footer__icons">
		<a href="/allAlbums"><i class="fas fa-wave-square"></i></a>
		<a href="/playlists"><i class="fas fa-microphone-alt"></i></a>
		<a href="/"><i class="fas fa-record-vinyl"></i></a>
		<a href=""><i class="fas fa-adjust change-theme"></i></a>
		<a href="/categories"><i class="fas fa-stream"></i></a>
	</div>
</footer>