
<div id="links">
	<ul>
		<li><a href="/">Forsiden</a></li>
	</ul>
	<ul class="linksElements">
		<li><a href="/ommig" >Om Mig</a></li>
		<li><a href="" >Projekter</a></li>
		<li><a href="" >Kontakt</a></li>
	</ul>
</div>
<nav class="nav close" id="clickNav">
	<a class="close">
		<div></div>
	</a>
</nav>