<% include ../partials/head %>
<main class="main__featured">
	<section class="albumsDetails__imageSection">
		<% include ../partials/top-navAlbum %>
		<div class="albumDetails__headerText">
			<h1 class="albumDetails__headerHeadText">Old Town Road</h1>
			<h3 class="albumDetails__headerTextSongs">12 Songs</h3>
			<p class="albumDetails__headerHeadHastags">Genres hastags</p>
			<button class="albumDetails__headerHastags">#country</button><button class="albumDetails__headerHastags">#country road</button>
		</div>
	</section>
	<section class="albumDetails__mainSectionSongs">
		<h3 class="albumDetails__mainSongsHeaderText">All Songs</h3>
		<a href="/player">
		<div class="albumDetails__mainSong">
			<i class="fas fa-play-circle"></i>
			<div class="albumDetails__mainSongText">
				<div>
					<h3 class="albumDetails__albumsListAlbumName">Old Town Road</h3>
					<p class="albumDetails__albumsListAlbumArtist">Billy Ray Cyrus</p>
				</div>
				<p class="albumDetails__mainSongTime">3 : 58</p>
			</div>
		</div>
		</a>
		<a href="/player">
		<div class="albumDetails__mainSong">
			<i class="fas fa-play-circle"></i>
			<div class="albumDetails__mainSongText">
				<div>
					<h3 class="albumDetails__albumsListAlbumName">Old Town Road</h3>
					<p class="albumDetails__albumsListAlbumArtist">Billy Ray Cyrus</p>
				</div>
				<p class="albumDetails__mainSongTime">3 : 58</p>
			</div>
		</div>
		</a>
		<a href="/player">
		<div class="albumDetails__mainSong">
			<i class="fas fa-play-circle"></i>
			<div class="albumDetails__mainSongText">
				<div>
					<h3 class="albumDetails__albumsListAlbumName">Old Town Road</h3>
					<p class="albumDetails__albumsListAlbumArtist">Billy Ray Cyrus</p>
				</div>
				<p class="albumDetails__mainSongTime">3 : 58</p>
			</div>
		</div>
		</a>
		<a href="/player">
		<div class="albumDetails__mainSong">
			<i class="fas fa-play-circle"></i>
			<div class="albumDetails__mainSongText">
				<div>
					<h3 class="albumDetails__albumsListAlbumName">Old Town Road</h3>
					<p class="albumDetails__albumsListAlbumArtist">Billy Ray Cyrus</p>
				</div>
				<p class="albumDetails__mainSongTime">3 : 58</p>
			</div>
		</div>
		</a>
	</section>
</main>


<% include ../partials/footer %>
<% include ../partials/after-footer %>