
<% include ../partials/head %>
<main class="main__categories">
	<% include ../partials/top-nav %>
	<h1 class="featured__headText">Categories</h1>
	<ul id="dropdown">
		<!----------------------INDSÆT TEMPLATE----------------------->
	</ul> 
</main>

<!--------------------------LAVER TEMPLATE---------------------------->
<template id="categories-template">
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			<p class="categories__title"></p>
		</button>
		<div class="dropdown-content" id="myDropdown">
			<a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
			<a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
			<a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
</template>

<script src="/assets/js/dropdown.js"></script>
<script src="/assets/js/categories.js"></script>
<% include ../partials/footer %>
<% include ../partials/after-footer %>