
<% include ../partials/head %>
<main class="main__categories">
	<% include ../partials/top-nav %>
	<h1 class="featured__headText">Categories</h1>
	<ul id="dropdown">
		<!----------------------INDSÆT TEMPLATE----------------------->
	</ul> 
</main>

<!--------------------------LAVER TEMPLATE---------------------------->
<template id="categories-template">
	<div class="dropdown">
		<button class="dropbtn categories__button">
			<p class="categories__title"></p>
		</button>
	</div> 
</template>


<% include ../partials/footer %>
<% include ../partials/after-footer %>