
<% include ../partials/head %>
<% include ../partials/navFrontPage %>
<main class="main__homePage animate__animated animate__fadeIn">
	<div class="bg"></div>
	<div class="bg lag-2"></div>
	<div class="bg lag-3"></div>
	<a href=""><img class="computerScreen linkDevice animate__animated animate__rotateIn" src="/assets/images/stationaer.png" alt="Computer stationær"></a>
	<a href=""><img class="smartphone linkDevice animate__animated animate__rotateInDownRight" src="/assets/images/smartphone.png" alt="Smartphone"></a>
	<a href=""><img class="tablet linkDevice animate__animated animate__rotateInDownLeft" src="/assets/images/baerbar.png" alt="Bærbar"></a>
	<div class="homePage__innerMain">
		<section class="homePage__headerTitle">
			<h1>Karitas Webdesign</h1>
			<h6>Af Bianca Karitas Jensen, Webudvikler</h6>
		</section>
		<section class="homePage__slogan">
			<h4>Simpelt Design</h4>
			<h4>Smarte Løsninger</h4>
		</section>
	</div>
</main>

<!-------------------------------------LAVER TEMPLATE-------------------->
<template id="featured-template">
		<div class="featured__imageShadow1">
			<a class="featured__imagesLink" href="">
				<img class="featured__images" src="" alt="image featured">
			</a>
		</div>
</template>
<% include ../partials/after-footer %>
