
<% include ../partials/head %>
<main class="main__featured">
	<% include ../partials/top-nav %>
	<h1 class="featured__headText">Featured</h1>
	<div id="featured-cardList">
		<!---------------------------INDSÆT TEMPLATE------------------->
	</div>
</main>

<!-------------------------------------LAVER TEMPLATE-------------------->
<template id="featured-template">
		<!-- <div class="featured__textInfo">
			<h3 class="featured__headerText">The Greatest Showman</h3>
			<p class="featured__text">Soundtrack</p> 
		</div> -->
		<div class="featured__imageShadow1">
			<a class="featured__imagesLink" href="">
				<img class="featured__images" src="" alt="image featured">
			</a>
		</div>
</template>

<script src="/assets/js/featured.js"></script>
<% include ../partials/footer %>
<% include ../partials/after-footer %>
