
<% include ../partials/head %>
<% include ../partials/nav %>
<main class="main__homePage">
	<img src="./src/images/screen1.png" alt="Computer stationær">
	<img src="./src/images/iphone_screen1.png" alt="Smartphone">
	<img src="./src/images/ipad_screen.png" alt="Tablet">
	<div class="homePage__innerMain">
		<section class="homePage__headerTitle">
			<h1>Karitas Webdesign</h1>
			<h6>Af Bianca Karitas Jensen, Webudvikler</h6>
		</section>
		<section class="homePage__slogan">
			<h4>Simpelt Design</h4>
			<h4>Smarte Løsninger</h4>
		</section>
	</div>
</main>

<!-------------------------------------LAVER TEMPLATE-------------------->
<template id="featured-template">
		<div class="featured__imageShadow1">
			<a class="featured__imagesLink" href="">
				<img class="featured__images" src="" alt="image featured">
			</a>
		</div>
</template>

<script src="/assets/js/featured.js"></script>
<% include ../partials/after-footer %>
