<% include ../partials/head %>
<% include ../partials/nav %>
<main class="omMig__main">
	<img class="omMig__profilBillede" src="/assets/images/profilBillede.png" alt="Profil billede">
	<section class="omMig__faerdigheder">
		<article class="omMig__erfaringer_flexBox">
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3>HTML</h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3>JavaScript</h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3>CSS</h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3>Sass</h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3>JSON</h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3>Wordpress</h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3>Php</h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
	</article>
		<article class="omMig__erfaringer_flexBox">
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3>Node.js</h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3></h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		<div class="single__erfaringer">
			<div class="ydreBox__prikErfaringer">
			<h3></h3>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
				<div class="prikErfaringer"></div>
			</div>
		</div>
		</article>
	</section>



</main>
<% include ../partials/after-footer %>