<% include ../partials/head %>
<% include ../partials/nav %>
<h1 class="titlePage">Projekter</h1>
<main class="projekter__main">
	<h4>Tekst om mig som webudvikler med tidligere projekter</h4>
	<section class="projekter__opgaver">
		<div class="projekter__baggrundsFarve">
			<img src="/assets/images/meter.jpg" alt="kunde billede, meter">
			<h6>Hjerte</h6>
			<p>meter</p>
		</div>
	</section>
</main>

<% include ../partials/after-footer %>