<% include ../partials/head %>
<% include ../partials/nav %>
<h1 class="titlePage">Projekter</h1>
<main class="projekter__main">
	<aside>
		<div class="aktivSide"></div>
		<div class="side"></div>
		<div class="side"></div>
	</aside>
	<h4>Tekst om mig som webudvikler med tidligere projekter</h4>
	<section class="projekter__opgaver">
		<div class="projekter__baggrundsFarve">
			<img src="/assets/images/meter.jpg" alt="kunde billede, meter">
			<h5>Hjerte</h5>
			<h6>meter</h6>
			<p>Kunden ønskede........</p>
		</div>
	</section>
</main>

<% include ../partials/after-footer %>