<% include ../partials/head %>
<% include ../partials/nav %>
<h1 class="titlePage">Projekter</h1>
<main>
	<h4>Tekst om mig som webudvikler med tidligere projekter</h4>
	<section class="projekter__opgaver">
		<div>
			<img>
			<p></p>
		</div>
		<div>
			<img>
			<p></p>
		</div>
		<div>
			<img>
			<p></p>
		</div>
	</section>
	<section>
		<div>
			<img>
			<p></p>
		</div>
		<div>
			<img>
			<p></p>
		</div>
		<div>
			<img>
			<p></p>
		</div>
	</section>
</main>

<% include ../partials/after-footer %>