body{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	background-color: $base-background;
}

.navOn__mainDown{
	margin: 100px;
	transition: 1s ease-out;
}
.navOut__mainUp{
	margin: 0;
	transition: .6s ease-in;
}


.titlePage{
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 5px;
	margin: 90px 40px;
	color: $base-color;
	font-size: 1.7em;

}

/* font-family: 'Permanent Marker', cursive; */
