body{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	background-color: $base-background;
}

.navOn__mainDown{
	margin: 100px;
	transition: 1s ease-out;
}
.navOut__mainUp{
	margin: 0;
	transition: .6s ease-in;
}


/* font-family: 'Permanent Marker', cursive; */
