.main__homePage{
	background: $gradient-background;
	height: 100vh;
	position: relative;
	padding-top: 70px;

	.homePage__innerMain{
		background-color: $base-background;
		margin-left: 70px;
		width: 900px;
		height: 600px;
		box-shadow: -3px 3px 10px #707070;
		border-radius: 2px;

		.homePage__headerTitle{
			margin: 0;
			padding-top: 100px;
			padding-left: 70px;

			h1{
				line-height: 50px;
				margin: 0;
				letter-spacing: 5px;
				font-weight: lighter;
			}
			h6{
				margin: 0;
				text-transform: uppercase;
			}
		}
		.homePage__slogan{
			margin-top: 120px;
			margin-left: 300px;
			width: 200px;
			h4{
				text-align: center;
				margin: 0;
				letter-spacing: 5px;
				font-weight: lighter;
			}
			h4:last-child{
				font-family: 'Permanent Marker', cursive;
			}
		}
	}
}