main{
	width: 100%;
}
.overflow {
    width: 45vw;
  	margin: 0 0 2em 0;
  	/**
   	* Required properties to achieve text-overflow
   	*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/****************************** FEATURED ********************************/
.main__featured{
	margin-bottom: 80px;

	.featured__headText{
		@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
		background: $gradient-color;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 2em;
		margin-left: 5vw;
	}
	.featured__textInfo{
		position: absolute;
		z-index: 10;
		width: 85vw;
		left: 15vw;
		bottom: 150px;
	
		.featured__headerText{
			font-size: 1.8em;
			margin: 0;
		}
		.featured__text{
			font-size: 0.7em;
			letter-spacing: normal;
			text-transform: unset;
		}
	}
	
	.featured__images{
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 85vw;
		border-radius: 6px;
		margin-bottom: 40px;
		-moz-box-shadow: inset  0 -10px 50px -10px #000;
		-webkit-box-shadow: inset  0 -10px 30px -10px #000;
		box-shadow: inset  -10px -10px 50px 0px #000;
		-moz-box-shadow: 0 0 5px 0 #000;
		-webkit-box-shadow: 0 0 5px 0 #000;
		box-shadow: 0 0 5px 0 #000;
	}
}


/***************************** ALL ALBUMS **************************************/

.featuredAlbums__headerText{
	display: flex;
	justify-content: space-between;
	margin: 10px 4vw 0 5vw;
	height: 50px;

	.featuredAlbums__headtext{
		font-weight: bolder;
		letter-spacing: unset;
		text-transform: unset;
	}
	a{
		text-decoration: none;
	}
}

html, body {
	position: relative;
	height: 100%;
  }
  body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
  }
.swiper-container {
	width: 100%;
	height: 100%;

	.featuredAlbums-cardListImage{
		width: 15vw;
	}
	
}
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		margin: 5px 15vw;
		
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		
		.featuredAlbums__images{
			border-radius: 7px;
			width: 120px;
			height: 120px;
			margin: 0 2vw;
			-moz-box-shadow: 0 0 5px 0 #000;
			-webkit-box-shadow: 0 0 5px 0 #000;
			box-shadow: 0 0 5px 0 #000;
		}
	}

.featuredAlbums_cardListList{
	padding-left: 0;
}
.featuredAlbums__albumsList{
	margin: 5px 10px;
	height: 70px;

	.featuredAlbums__albumsListFlex{
		display: flex;
	}
	.featuresAlbums__imageAlbumList{
		width: 60px;
		height: 60px;
		margin: 0 2vw;
		border-radius: 7px;
	}
	.featureAlbums__albumsListInfo{
		display: flex;
		align-items: center;
		margin-left: 1vw;
		justify-content: space-between;

		.featuredAlbums__albumsListInfoName{
			margin-right: 18vw;

			.featuredAlbums__albumsListAlbumName{
				margin: 0;
			}
			.featuredAlbums__albumsListAlbumArtist{
				margin: 0;
			}
		}
	}
}

/***************************** ALBUMS DETALJER **************************************/

.albumsDetails__imageSection{
	background-image: url("/assets/images/man-smoke.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	background-size: cover;

	.albumDetails__headerText{
		margin: 0 0 0 10vw;
		
		.albumDetails__headerHeadText{
			font-size: 2.3em;
		}
		.albumDetails__headerTextSongs{
			margin-bottom: 120px;
		}
		.albumDetails__headerHastags{
			border-radius: 25px;
			border: none;
			margin-right: 5px;
			height: 25px;
			font-weight: bolder;
		}
	}
}

.albumDetails__mainSectionSongs{
	margin-left: 3vw;
	margin-top: 40px;
	a{
		text-decoration: none;
	}

	.albumDetails__mainSongsHeaderText{
		font-size: 1em;
	}
	.albumDetails__mainSong{
		display: flex;
		width: 100%;
		margin-top: 20px;
	
		.fa-play-circle{
			font-size: 30px;
			background: $gradient-color;
			-webkit-background-clip: text;
 			-webkit-text-fill-color: transparent;
		}
		.albumDetails__mainSongText{
			display: flex;
			justify-content: space-between;
			width: 100%;
	
			.albumDetails__albumsListAlbumName{
				margin: 0 0 2px 3vw;
				font-size: 0.9em;
			}
			.albumDetails__albumsListAlbumArtist{
				margin: 0 0 0 3vw;
				font-size: 0.8em;
			}
			.albumDetails__mainSongTime{
				margin-right: 3vw;
				font-size: 0.8em;
			}
		}
	}
}


/***************************** CATEGORIES **************************************/

.main__categories{
	margin-bottom: 80px;
	.featured__headText{
		margin-left: 8vw;
	}
}
	#dropdown{
		padding: 0;
	}
  .dropdown .dropbtn {
	cursor: pointer;
	font-size: 16px;  
	border: none;
	outline: none;
	height: 54px;
	width: 85vw;
	border-radius: 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0 5vw;
	font-size: bolder;
  }
  .dropdown{
	  margin: 15px 0;
  }
  
  .dropdown-content {
	display: none;
	
	.fa-chevron-right{
		float: right;
	}
  }
  
  .dropdown-content a {
	margin: 20px 10px 10px 40px;
	text-decoration: none;
	display: block;
	width: 75vw;
	font-weight: 200;
	letter-spacing: 1px;
  }
  .show {
	display: block;
  }
  
 
/***************************** PLAYLISTS **************************************/
.main__playlists{
	margin-bottom: 80px;
}
  .playlists__headerSection{
	background-image: url("/assets/images/sound-wave.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 272px;
	background-size: cover;

	.playslists__headerText{
		font-size: 2em;
		margin-left: 10vw;
	}
	.playlists__headerTitle{
		
		.playlists__playlistsText{
			text-align: center;
			margin: 0;
			font-size: 1.5em;
		}
	}
	.swiper-container {
		width: 100%;
		height: auto;
	
	}
	.swiper-slide{
		background-position: center;
		background-size: cover;
		width: 155px;
		height: 155px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 5px 0 #000;
		-webkit-box-shadow: 0 0 5px 0 #000;
		 box-shadow: 0 0 5px 0 #000;
		 margin: 5px 10vw;
  	}
  }
  .playlists__playlist{
	margin-top: 80px;
  }


/***************************** PLAYER **************************************/

.player__mainBackground{
	background-image: url("/assets/images/badges.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	.player__artistProfilePhotoBorder{	
		.player__artistProfilePhoto{
			width: 175px;
			height: 175px;
			border-radius: 50%;
			align-items: center;
			border: 20px solid rgba(134, 60, 94, 0.8);
			display: block;
			margin: 40px auto 0 auto;
			position: relative;
		}
	}

	.player__songInfo{
		text-align: center;

		.player__songInfoArtistName{
			font-size: 1.2em;
			margin-top: 45px;
		}
		.player_songInfoArtist{
			margin: 0;
			margin-bottom: 30px;
		}
	}
	.player__playerLine{
		position: relative;
		border: 1px solid;
		border-radius: 2px;
		width: 85vw;
		margin: 0 auto;

		.player__playerCircleBorder{
			position: absolute;
			border: 5px solid rgba(134, 60, 94, 0.8);
			border-radius: 50%;
			top: -11px;

			.player__playerCircle{
				margin: 0;
				border: 5px solid rgb(134, 60, 94);
				border-radius: 50%;
				top: -19.4px;
			}
		}
	}
	.player__SongTime{
		display: flex;
		justify-content: space-between;
		width: 85vw;
		margin: 0 auto;

		.player__songTimeText{
			font-size: 0.9em;
			font-weight: 200;
		}
	}
	.player__playerIcons{
		width: 70vw;
		display: block;
		margin: 0 auto;
		.fa-play{
			font-size: 3em;
			margin: 0 2.5vw;
		}
		.fa-angle-double-left, .fa-angle-left, .fa-angle-double-right, .fa-angle-right{
			font-size: 2em;
			margin: 0 2.5vw;
			padding-bottom: 50px;
		}
	}
}