
nav{
	display: flex;
	justify-content: space-between;
}

.nav{
	@import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap');
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 100;
}

.fa-search, .fa-chevron-left{
	margin-top: 17px;
}
.fa-chevron-left{
	margin-left: 5vw;
}
.fa-search{
	margin-right: 5vw;
}