.omMig__main{
	background-color: $base-background;
	position: relative;
	margin: 0;

	.knowledgeSVG{
		max-width: 25vw;
		z-index: 250;
		position: absolute;
		top: -190px;
		left: 10vw;

		#Globe-web{
			animation: globeWeb-spinning 1s ease;
			transform-origin: center;
			transform-box: fill-box;
		}
		@keyframes globeWeb-spinning {
			from{
				transform: rotateZ(0deg);
			}
			to{
				transform: rotateZ(360deg);
			}
		}
	}
	.omMig__faerdigheder{
		background-color: $third-background;
		height: 600px;
		width: 60vw;
		margin-top: 300px;
		margin-left: 30vw;
		margin-right: 5vw;
		margin-bottom: 100px;
		box-shadow: -3px 3px 10px #707070;
		display: flex;



		.omMig__erfaringer_flexBox{
			width: 50%;

			h3{
				margin: 0;
				font-weight: lighter;
				font-size: 1.5em;
				margin-right: 10px;
			}
			.single__erfaringer{
				padding: 25px;
				margin: 0;
				
				.ydreBox__prikErfaringer{
					display: flex;
					justify-content: flex-end;
					margin: 0;
					
					.prikErfaringer{
						align-self: center;
						width: 25px;
						height: 25px;
						background-color: white;
						margin: 3px;
						border-radius: 50%;
					}
				}
			}
		}
		
		
		
		
	}

	/***********  SVG BILLEDE **************/

	.cls-1{fill:#fff}.cls-2{fill:#dcd6e3}.cls-3{fill:#f2b164}.cls-3,.cls-6,.cls-7,.cls-8{fill-rule:evenodd}.cls-6{fill:#db5d60}.cls-5{fill:rgb(58, 58, 58)}.cls-7{fill:#73706B}.cls-8{fill:#2e3640}

}