.omMig__main{
	background-color: $base-background;
	position: relative;
	margin: 0;

	.knowledgeSVG{
		max-width: 25vw;
		z-index: 250;
		position: absolute;
		top: -190px;
		left: 10vw;

		#Globe-web{
			animation: globeWeb-spinning 3s ease;
			transform-origin: center;
			transform-box: fill-box;
		}
		#W-1{
			animation: www 0.5s ease-in;
		}#W-2{
			animation: www 1s ease-in;
		}
		#W-3{
			animation: www 1.5s ease-in;
		}
		#Element-6 [data-name="Shape"]{
			animation: loadCode 01s ease;
		}
		#line-1{
			animation: loadCode 0.2s ease-in;
		}
		#line-2{
			animation: loadCode 0.4s ease-in;
		}
		#line-3{
			animation: loadCode 0.6s ease-in;
		}
		#line-4{
			animation: loadCode 0.8s ease-in;
		}
		#line-5{
			animation: loadCode 1s ease-in;
		}
		#line-6{
			animation: loadCode 1.2s ease-in;
		}
		#line-7{
			animation: loadCode 1.4s ease-in;
		}
		#line-8{
			animation: loadCode 1.6s ease-in;
		}
		#line-9{
			animation: loadCode 1.8s ease-in;
		}
		#line-10{
			animation: loadCode 2s ease-in;
		}
		#line-11{
			animation: loadCode 2.2s ease-in;
		}
		#line-12{
			animation: loadCode 2.4s ease-in;
		}
		#line-13{
			animation: loadCode 2.6s ease-in;
		}
		#line-14{
			animation: loadCode 2.8s ease-in;
		}
		#line-15{
			animation: loadCode 3s ease-in;
		}
		@keyframes globeWeb-spinning {
			from{
				transform: rotateZ(0deg);
			}
			to{
				transform: rotateZ(360deg);
			}
		}
		@keyframes www {
			from { 
				opacity: 0;    
			}
			50%{
				opacity: 0.5;
			}
   			to { 
				opacity: 1;
			}
		}
		@keyframes loadCode {
			from { 
				transform: perspective(0);   
			}
   			to { 
				transform: perspective(2);
			}
		}

	}
	.omMig__faerdigheder{
		background-color: $third-background;
		height: 600px;
		width: 60vw;
		margin-top: 300px;
		margin-left: 30vw;
		margin-right: 5vw;
		margin-bottom: 100px;
		box-shadow: -3px 3px 10px #707070;
		display: flex;



		.omMig__erfaringer_flexBox{
			width: 50%;

			h3{
				margin: 0;
				font-weight: lighter;
				font-size: 1.5em;
				margin-right: 10px;
			}
			.single__erfaringer{
				padding: 25px;
				margin: 0;
				
				.ydreBox__prikErfaringer{
					display: flex;
					justify-content: flex-end;
					margin: 0;
					.prikErfaringer{
						align-self: center;
						width: 25px;
						height: 25px;
						background-color: white;
						margin: 3px;
						border-radius: 50%;
					}
					.rød{
						background-color: #DB5D60;
						animation: rødPrik 0.9s ease;
					}
					@keyframes rødPrik {
						from { 
							opacity: 0;    
						}
						   to { 
							opacity: 1;
						}
					}	
				}
			}
		}
								
		
		
		
		
	}

	/***********  SVG BILLEDE **************/

	.cls-1{fill:#fff}.cls-2{fill:#dcd6e3}.cls-3{fill:#f2b164}.cls-3,.cls-6,.cls-7,.cls-8{fill-rule:evenodd}.cls-6{fill:#db5d60}.cls-5{fill:rgb(58, 58, 58)}.cls-7{fill:#73706B}.cls-8{fill:#2e3640}

}