.omMig__main{
	background-color: $base-background;
	position: relative;
	margin: 0;

	.omMig__profilBillede{
		max-width: 15vw;
		z-index: 250;
		position: absolute;
		top: -115px;
		border-radius: 50%;
		left: 17vw;
	}
	.omMig__faerdigheder{
		background-color: $third-background;
		height: 600px;
		width: 60vw;
		margin-top: 250px;
		margin-left: 30vw;
		margin-right: 5vw;
		margin-bottom: 100px;
		box-shadow: -3px 3px 10px #707070;
		display: flex;



		.omMig__erfaringer_flexBox{
			width: 50%;

			h3{
				margin: 0;
				font-weight: lighter;
				font-size: 1.5em;
				margin-right: 10px;
			}
			.single__erfaringer{
				padding: 25px;
				margin: 0;
				
				.ydreBox__prikErfaringer{
					display: flex;
					justify-content: flex-end;
					margin: 0;
					
					.prikErfaringer{
						align-self: center;
						width: 25px;
						height: 25px;
						background-color: white;
						margin: 3px;
						border-radius: 50%;
					}
				}
			}
		}
		
		
		
		
	}




}