.projekter__main{
	height: 1000px;
	h4{
		margin: 0;
		margin-top: 70px;
		margin-left: 100px;
	}
	aside{
		right: 0;
		position: fixed;
		margin: 0 20px;
		top: 50vh;

		.aktivSide{
			width: 10px;
			height: 5px;
			background-color: $base-color;
			margin: 10px 5px;
			box-shadow: $box-shadow;
		}
		.side{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $base-color;
			margin: 5px;
			box-shadow: $box-shadow;
		}

	}

.projekter__opgaver{
	display: flex;
	justify-content: space-evenly;

	.projekter__baggrundsFarve{
		height: 350px;
		width: 290px;
		background-color: $third-background;
		position: relative;
		margin-top: 100px;
		box-shadow: $box-shadow;

		h5{
			text-align: center;
			margin-top: 180px;
		}

		h6{
			margin: 0;
			margin-top: 25px;
			text-align: center;
			font-family: $drawing-font;
			font-size: 1.5em;
		}
		p{
			margin: 20px;
		}
	}
	img{
		width: 200px;
		height: 200px;
		object-fit: cover;
		position: absolute;
		left: 16%;
		top: -30px;
	}
}
}