
$gradient-background: linear-gradient( 140deg, #DB5D60 50%, #F2B164 50%);

$base-color: #2E3640; 
$secound-color: #73706B;
$third-color: #DB5D60;

$base-background: #F0F0EF;
$secound-background: #DB5D60;
$third-background: #F2B164;

$box-shadow: -3px 3px 10px #707070;